.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.side {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    width: 400px;
    height: 400px;
}
.text {
    font-size: 60px;
}
.text2 {
    font-size: 30px;
}