.statastika {
    display: flex;
    flex-direction: column;
}

.towers{
    height: 230px;
    width: 230px;
    background-color: rgb(201, 73, 73);
    display: flex;
    align-items: center;  
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
}

.towers-img{
    margin: 10px 0 10px 0;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: rgb(177, 168, 231);
    display: flex;
    align-items: center;
    justify-content: center;
}

.towers-img img{
    height: 60px;
    width: 60px;
}
.towers-text{
    text-align: center;
}