.monsters {
    display: flex;
    justify-content: space-around;
    
}

.monsters-text :hover{
    cursor: pointer;
}
.monsters-text{ 
    text-align: center;
    color: seashell;
   
}
h2 { 
    margin: 0;
}
 
.monsters-item{
    margin-left: 10px;
    width: 200px;
    height: 200px;
    background-color: indigo;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.monsters-item-active {
    margin-left: 10px;
    width: 200px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.monsters-picture {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
