.gallery {
    width: 100%;
    height: 1200px;
    background-color:wheat ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
     
    
}
.gallery img{
    width:200px;
	  height:200px;
    margin:20px;
    border: 1px solid cyan;
    
}
.gallery img:hover{
    width:220px;
    height:220px; 
    
    
}