.main {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.Wave {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}
.Wave p {
    margin: 0;
}

.Enemy {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: brown;
}